<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Abu al Qasim Al-Zahrawi Hospital</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1>Login - Abu al Qasim Al-Zahrawi Hospital</h1>
    </header>

    <main>
        <section class="container">
            <article class="card">
                <h2 class="card-title">Login</h2>
                <form id="loginForm">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" pattern="[A-Za-z]+" title="Username should only contain letters." required>

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>

                    <button type="submit">Login</button>
                </form>

                <div class="link">
                    <p>Don't have an account? <a href="/register">Register here</a></p>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <p>&copy; <span id="currentYear"></span> Abu al Qasim Al-Zahrawi Hospital. All Rights Reserved.</p>
    </footer>
    <script>
        document.getElementById('currentYear').textContent = new Date().getFullYear();
    </script>

    <script>
        const URL = "<%= url %>";

        document.getElementById('loginForm').addEventListener('submit', async (event) => {
            event.preventDefault();

            const username = document.getElementById('username').value.trim();
            const password = document.getElementById('password').value.trim();

            try {
                const response = await fetch(URL + '/api/login', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ username, password })
                });

                if (response.ok) {
                    alert('Login successful!');
                    window.location.href = "/home";
                } else {
                    const error = await response.json();
                    alert(`Error: ${error.error}`);
                }
            } catch (err) {
                alert(`Request failed: ${err.message}`);
            }
        });
    </script>
</body>

</html>